repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.5
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
        exclude: ^docs/
      # Run the formatter.
      - id: ruff-format
        exclude: ^docs/