aniso8601==8.0.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
Flask==1.1.2
idna==2.10
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
ncclient==0.6.9
numpy==1.20.1
pandas==1.2.2
paramiko==2.7.2
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
six==1.15.0
urllib3==1.26.3
xmltodict==0.12.0
werkzeug==2.0.3
