<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='files.css') }}">
    <title>Download Output</title>
</head>
<body>
    <nav>
        <div>
            <p>Firewall Migration Tool</p>
        </div>
        <div class="linked">
            <a href="/">Home</a>
            <a href="https://github.com/VahidTa/firewall_migration_tool" target="_blank" rel="noopener noreferrer">Help</a>
        </div>
    </nav>
    <div id="container">
        <p>Output files</p>
        {% for file in dloads %}
            {% if 'keep' not in file %}
            ->  <a href="{{ url_for('download', dirname=dirname, filename=file) }}" download> {{ file }}</a><br>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>